<a href="https://colab.research.google.com/github/pratikshakirolkar/Electricity-Consumption-using-Big-Data/blob/main/load_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

Date wise Data mentioned in this CSV file

In [4]:
data=pd.read_csv("/content/State_Wise_Data.csv")

In [6]:
data.rename(columns={"Unnamed: 0":"Date"},inplace=True)

In [7]:
data['Date']=pd.to_datetime(data["Date"],dayfirst=True)
data["year"]=data["Date"].dt.year
data["month"]=data["Date"].dt.month
data["day"]=data["Date"].dt.day

In [9]:
data.head(10)

,Date,Punjab,Haryana,Rajasthan,Delhi,UP,Uttarakhand,HP,J&K,Chandigarh,...,Arunachal Pradesh,Assam,Manipur,Meghalaya,Mizoram,Nagaland,Tripura,year,month,day
0,2019-01-02,119.9,130.3,234.1,85.8,313.9,40.7,30.0,52.5,5.0,...,2.1,21.7,2.7,6.1,1.9,2.2,3.4,2019,1,2
1,2019-01-03,121.9,133.5,240.2,85.5,311.8,39.3,30.1,54.1,4.9,...,2.2,23.4,2.4,6.5,1.8,2.2,3.6,2019,1,3
2,2019-01-04,118.8,128.2,239.8,83.5,320.7,38.1,30.1,53.2,4.8,...,2.2,21.7,2.4,6.3,1.7,2.2,3.5,2019,1,4
3,2019-01-05,121.0,127.5,239.1,79.2,299.0,39.2,30.2,51.5,4.3,...,2.2,22.5,2.7,5.7,1.8,2.3,3.5,2019,1,5
4,2019-01-06,121.4,132.6,240.4,76.6,286.8,39.2,31.0,53.2,4.3,...,2.2,21.7,2.7,6.2,1.9,2.3,3.3,2019,1,6
5,2019-01-07,118.0,132.1,241.9,71.1,294.2,40.1,30.1,53.3,4.0,...,2.2,21.4,2.5,6.1,1.8,2.3,3.3,2019,1,7
6,2019-01-08,107.5,121.4,237.2,69.0,289.4,37.0,29.2,51.2,3.8,...,2.3,20.7,2.6,6.2,1.8,2.1,3.3,2019,1,8
7,2019-01-09,132.5,148.2,197.0,89.2,258.6,35.9,25.3,37.9,3.9,...,2.1,25.8,2.3,6.0,1.7,2.4,4.2,2019,1,9
8,2019-01-10,131.5,157.0,199.9,92.8,284.2,35.3,26.5,31.7,3.9,...,2.1,25.8,2.4,6.2,1.7,2.1,4.3,2019,1,10
9,2019-01-11,130.3,145.3,187.7,79.5,281.4,30.1,23.9,37.3,3.4,...,2.1,27.9,2.4,6.2,1.8,2.1,4.3,2019,1,11

State wise data show in this CSV file (Long Data Only State)

In [10]:
long_data=pd.read_csv("/content/state-wise-power-consumption-in-india.csv")

In [11]:
long_data['Dates']=pd.to_datetime(long_data["Dates"],dayfirst=True)
long_data["year"]=long_data["Dates"].dt.year
long_data["month"]=long_data["Dates"].dt.month
long_data["day"]=long_data["Dates"].dt.day
long_data.drop(["latitude","longitude"],axis=1,inplace=True)

In [12]:
long_data.head(10)

         States Regions      Dates  Usage  year  month  day
0        Punjab      NR 2019-01-02  119.9  2019      1    2
1       Haryana      NR 2019-01-02  130.3  2019      1    2
2     Rajasthan      NR 2019-01-02  234.1  2019      1    2
3         Delhi      NR 2019-01-02   85.8  2019      1    2
4            UP      NR 2019-01-02  313.9  2019      1    2
5   Uttarakhand      NR 2019-01-02   40.7  2019      1    2
6            HP      NR 2019-01-02   30.0  2019      1    2
7           J&K      NR 2019-01-02   52.5  2019      1    2
8    Chandigarh      NR 2019-01-02    5.0  2019      1    2
9  Chhattisgarh      WR 2019-01-02   78.7  2019      1    2